/* Layout */

body {
  padding-top: 70px;
}
.container {
  margin-top: -30px;
  background: #F6F0ED;
  text-align: center;
}
#logo {
  display: inline;
  margin: -15px;
  padding-right: 25px;
  text-align: center;
}
.navbar {
  height: 75px;
  background: #383333;
}
.navbar-nav {
  background-color: #383333;
}
.jumbotron {
  background: lightgray;
  margin-top: -5px;
  text-align: center;
  padding: 30px 10px
}
.jumbotron img {
  max-width: 100%;
}

.facility-info {
  text-align: left;
}

#ky {
  margin-left: -25px;
}

#mi {
  margin-right: 20px;
}

#loc1 {
  margin-bottom: 30px;
}

p {
  font-size: 1.4em;
}

.ft {
  margin: 30px 0;
}

.list {
  list-style-type: none;
  font-size: 1.2em;
}

.foot {
  text-align: center;
  margin-top: 20px;
}

hr {
  height: 3px;
  background-color: black;
  color: black;
}

.ad3d {
  margin: 35px 0;
  
}

/*******************
CONTACT FORM
*******************/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="url"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 18px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  background-color: #e8eeef;
  color: #515151;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

#required_field {
  margin: 5px 0 10px 30px;
  font-size: 1em;
  padding: 5px;
}

fieldset {
  margin:15px 0 30px 80px;
  max-width: 90%;
  
  padding: 30px 40px;
  background: #C7CCDB;
  border-radius: 10px;
  border-width:10px;	
  border-style:outset;
}



@media screen and (min-width: 480px) {

  form {
    max-width: 680px;
    
  }

}

#submit_form {
  background: light-grey;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 1px;
  width: 80%;
  height: 60px;
  display: block;
  margin: 0 0 0 50px;
  font-size: 1.4em;
}



#quote {
  margin-top: 6px;
  padding-top: 20px;
}





