/* Layout */

body {
  padding-top: 70px;
  background: linear-gradient(#BEBEBE, #fff);
}
.container {
  margin-top: -30px; 
  text-align: center;
  max-width: 1000px;
}
#logo {
  display: inline;
  margin: -12px;
  padding-right: 20px;
  text-align: center;
}
.navbar {
  background: #383333;
  
}
.navbar-nav {
  background-color: #383333;
}
navbar-toggle {
  margin-top: 40px;
}

.jumbotron {
  background: linear-gradient(slategray,20%, lightgray);
  margin-top: -20px;
  text-align: center;
  padding: 60px 10px
}
.jumbotron img {
  max-width: 100%;
}

#index-hr {
  margin-bottom: 40px;
}

#about-hr {
  margin-bottom: 50px;
}

.facility-info {
  text-align: left;
}

#ky {
  margin-left: -25px;
}

#louisville {
  margin-bottom: 60px;
}

#contact_lou {
  line-height: 1.4em;
  padding: 30px;
}

#contact_mich {
  line-height: 1.4em;
  padding: 30px;
}

#contact_main {
  margin: 20px 0 20px 0;
}

#products_main2 {
  margin: 30px 0 30px 0;
}

.locs {
  margin-bottom: 20px;
}

#locations {
  margin-bottom: 30px;
}

#mi {
  margin-right: 20px;
}

#loc1 {
  margin-bottom: 30px;
}

p {
  font-size: 1.4em;
}

.ft {
  margin: 30px 0;
}

.list {
  list-style-type: none;
  font-size: 1.2em;
  margin-bottom: 50px;
}

.foot {
  text-align: center;
  margin-top: 50px;
}

hr {
  height: 3px;
  background-color: black;
  color: black;
}

.ad3d {
  margin: 35px 0; 
  max-width: 100%;
}

#wcq {
  margin: 20px 0 20px 0;
}

.social_link {
  padding: 10px;
}

#quote {
  margin-top: 50px;
  margin-bottom: 70px;
  max-width: 500px;
  outline: 5px solid gray;
  padding: 10px;
  outline-style: ridge;
  outline-color: slategray;
  background-color: gray;
}

#btn1 {
  margin: 20px 0 20px 0;
}

#required {
  text-align: left;
  font-size: 1em;
}
 





